body
{
    background-color:rgb(17, 16, 16) ;
}

.Titulo
{
    margin: auto;
    color: white;
    box-sizing:content-box;
    text-align: center;
    position: absolute;
    padding:0% 34%;
    font-size: 40px;
    top: 35%;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 2;


}

.txt
{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 63%;
    left: 46%;
}
.clipe
{
   width: 20%;
}

.btnvoltar
{
    position: absolute;
    z-index: 5;
    background: rgb(78, 76, 76);
    color: white;
    width: 7%;
    height: 5%;
    text-align: center;
    border-radius: 5px;
    left: 5%;
    top: 5%;
}

video
{
    width: 500%;
    height: 1000%;
    opacity: 15%;
    z-index: 1;
}

.forma
{
    background: rgb(17, 16, 16);
    width: 99%;
    height: 40%;
    z-index: 3;
    position: absolute;
    top: 600px;

}

.titulo1
{
    position: absolute;
    top: 105%;
    left: 10px;
    color: rgb(255, 255, 255);
    z-index: 5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem

}
.texto
{
    color: rgb(204, 204, 204);
    z-index: 4;
    position: absolute;
    word-wrap: break-word;
    width: 70%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;

}

img
{
    width: 100%;
}

.lateral_esquerda
{
    width: 23%;
    position: absolute;
    right: 4%;
    top: 109%;
    z-index: 6;
}

.bey
{
    width: 50%;
    position: absolute;
    top: 265%;
    left: 23%;
}

.titulo2
{
    z-index: 5;
    position: absolute;
    top: 340%;
    left: 10px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem
}

.texto2
{
    position: absolute;
    top: 350%;
    color: rgb(204, 204, 204);
    word-wrap: break-word;
    width: 70%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
}

